#banner{
	height: 100vh;
	background-image: url("../images/banner.jpeg");
	background-attachment: fixed ; 
	background-size: cover;
	background-position: center;
	filter: contrast(80%);
	background-image: contrast(50%)
	color: beige;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-shadow: -3px 3px 3px #795548;

}

