.button{
  	font-size: 20px;

  	display:block;
    min-width: 120px;

    margin: 0.5rem;
    padding: 0.4rem 0;
    background-color: #d5cdbb;
    color: #211903;
    border-color: #211903;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 4px;

    transition: all 1s;
}
.button:hover {
	background-color: #1A0C0F;
	color: white;
	transition: 1s;
}